.git
.claude
docs
Dockerfile
render.yaml

imunia-frontend/node_modules
imunia-frontend/dist

imunia-backend/vendor
imunia-backend/node_modules
imunia-backend/tests
imunia-backend/.env
imunia-backend/.env.*
imunia-backend/bootstrap/cache/*.php
imunia-backend/public/storage
imunia-backend/public/hot
imunia-backend/storage/app
imunia-backend/storage/framework
imunia-backend/storage/logs
imunia-backend/storage/pail
